@font-face {
    font-family:shinchan ;
    src: url(./Poppins-Medium.ttf);
}


*{font-family: shinchan;

    margin: 0px;
    padding: 0%;
}
body{
    background-image: url(https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABbamongP0XRqWAWG2G-YyUveXi0aA3FAZ8_LXKaNPDhppm7gC-EluhEfsA-ObrJY3EphBUZ9xIx9_M_X8ezg83xiWCpDQbqoC6C4.jpg?r=ddd);
    background-repeat: no-repeat;
    background-size: 100% ;
}
svg{
    height: 30px;
    width: 30px;
    align-items: center;
}
svg:hover{
    color:red;
cursor:pointer;
}
.h1{
     margin:30px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li{
padding: 20px;
}
a{
    text-align: center;
    display: block;
    color: black;
    margin:10px;
    text-decoration: none;
    font-size: 1rem;
    padding:1rem 0px;
}
a:hover{
    color: white;
    text-decoration: none;
    font-weight: 600;}
h1{
    margin-bottom: 30px;
}
div{
    width: 30%;
    height: 500px;
    background-color:white;
    margin:90px;
    text-align: center;
    border-radius: 20px;
padding: 50px 10px;

}
.buttonlogin{
   background-color: skyblue;
    padding: 10px 60px;
    margin-right: -30px;
    margin-bottom: 40px;
    cursor: pointer;
    border: 1px solid rgb(142, 136, 136);
    
}
.btnsignup{
    background-color:white;
    color:black;
    padding:10px 60px;
    cursor: pointer;
    border: 1px solid rgb(142, 136, 136);
}
p, .container a{
    color: rgb(247, 28, 28);
    text-decoration: none;
    
}
p{
    text-align: center;
    text-decoration: underline;
}
.email{
    padding: 10px 75px;
    text-align: left ;
    margin-bottom: 30px;
}
.container{
    background-color: skyblue ;
    padding: 10px ;
    cursor: pointer;
    border: 0px solid white;
    margin-bottom: 20px;
}
.signup{
    color:blue;
}
.signup:hover{
    color:  rgb(29, 9, 143)
}
p1{
    margin:10px;
}




@media (max-width: 768px) {
    div {
        width: 80%; /* Adjust width for smaller screens */
        margin: 50px auto;
    }

    .buttonlogin,
    .btnsignup {
        width: 100%; /* Make buttons full width on smaller screens */
    }
}

@media (max-width: 480px) {
    div {
        padding: 30px 10px; /* Increase padding for smaller screens */
    }
}
